

@font-face {
    font-family: "TTNormsPro-Regular";
    src: url("./fonts/TT-Norms-Pro-Regular.ttf") format("ttf"),
         url("./fonts/TT-Norms-Pro-Regular.woff") format("woff");
  }
  
  @font-face {
    font-family: "TTNormsPro-Medium";
    src: url("./fonts/TT-Norms-Pro-Medium.ttf") format("ttf"),
         url("./fonts/TT-Norms-Pro-Medium.woff") format("woff");
  }
  
  @font-face {
    font-family: "TTNormsPro-Bold";
    src: url("./fonts/TT-Norms-Pro-Bold.ttf") format("ttf"),
         url("./fonts/TT-Norms-Pro-Bold.woff") format("woff");
  }
  
  html {
      width: 100%;
      height: 100vh;
  }
  
  body {
      font-family: TTNormsPro-Regular, sans-serif, PingFangTC-Regular, Microsoft JhengHei;
      background-color: #323237;
      color: white;
      min-width: 464px;
      height: 100vh;
      min-height: 580px;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  label {
      display: block;
  }
  
  p {
      margin: 0;
  }
  
  ul {
      list-style: none;
      list-style-position: outside;
      padding: 0;
      margin: 0;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
      box-sizing: border-box;
      padding: 8.5px 12px;
      border: 2px solid #d7d7d7;
      font-size: 16px;
      line-height: 16px;
      font-family: TTNormsPro-Regular, sans-serif, PingFangTC-Regular, Microsoft JhengHei;
      color: #323237;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
      border-radius: 0;
  }
  button[disabled] {
      background-color: #7c8c8f;
      cursor: not-allowed;
  }
  
  #resend-submit[disabled] {
      background-color: transparent;
  }
  
  .input-full {
      width: 100%;
  }
  input.code-input {
      font-size: 1.5em;
      width: 36px;
      height: 36px;
      text-align: center;
      border: 2px solid #D7D7D7;
  }
  
  .error {
      color: #ff1923;
      font-family: TTNormsPro-Medium, sans-serif, PingFangSC-Medium, Microsoft JhengHei;
      font-weight: 500;
      line-height: 16px;
      font-size: 12px;
      display: block;
      margin: 4px 0 32px 0;
  }
  
  .error.error-inline {
      margin-bottom: 0;
  }
  
  .desp {
      color: #323237;
      font-family: TTNormsPro-Medium, sans-serif, PingFangSC-Medium, Microsoft JhengHei;
      font-weight: 500;
      line-height: 1.71;
      font-size: 14px;
      margin: 0 0 20px;
  }
  
  .two-factor .desp {
      margin-bottom: 32px;
  }
  
  .main {
      margin: auto 32px;
      width: 400px;
      display: flex;
      flex-direction: column;
  }
  
  .system {
      font-family: TTNormsPro-Bold, sans-serif, PingFangTC-Semibold, Microsoft JhengHei;
      font-size: 32px;
      margin-bottom: 32px;
  }
  
  .form {
      color: #323237;
      width: 100%;
      padding: 32px;
      box-sizing: border-box;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      min-height: 411px;
  }
  
  .form-title {
      font-family: TTNormsPro-Bold, sans-serif, PingFangTC-Semibold, Microsoft JhengHei;
      color: #323237;
      font-size: 26px;
      margin: 0;
      margin-bottom: 20px;
  }
  .two-factor .form-title {
      margin-bottom: 16px;
  }
  
  .form-control {
      margin: 0 0 16px 0;
  }
  
  .form-label {
      font-family: TTNormsPro-Bold, sans-serif, PingFangTC-Semibold, Microsoft JhengHei;
      font-size: 14px;
      margin-bottom: 4px;
      line-height: 1.72;
      width: 100%;
      display: inline-block;
  }
  
  .form-area {
    color: #323237;
      width: 100%;
      box-sizing: border-box;
      background-color: white;
      display: flex;
      flex-direction: column;
      min-height: 350px;
  }
  
  .btn-area {
      margin-top: auto;
  }
  
  .btn-main {
      width: 100%;
      padding: 8px 24px;
      color: white;
      border: none;
      border-radius: 30px;
      background-color: #0275ff;
      font-size: 16px;
      font-family: TTNormsPro-Bold, sans-serif, PingFangTC-Semibold, Microsoft JhengHei;
      line-height: 24px;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      display: inline-block;
      box-sizing: border-box;
      outline: none;
  }
  
  .link {
      color: #0275ff;
      line-height: 24px;
      font-size: 14px;
      font-family: TTNormsPro-Medium, sans-serif, PingFangSC-Medium, Microsoft JhengHei;
      font-weight: 500;
  }
  
  .link:hover {
      color: #0275ff;
  }
  
  .link:active {
      color: #0275ff;
  }
  
  .link:visited {
      color: #0275ff;
  }
  
  .re-send-link {
    cursor:pointer;
    padding: 0px;
    border:none;
    background:transparent;
  }
  
  .login .forgot-pws {
      margin-top: 8px;
  }
  .two-factor .forgot-pws {
      margin-top: 16px;
  }
  
  .count-area {
      margin-top: 16px;
      color: #737D82;
      font-family: TTNormsPro-Medium, sans-serif, PingFangSC-Medium, Microsoft JhengHei;
      font-weight: 600;
      line-height: 19.6px;
      font-size: 14px;
  }
  
  .strong {
      font-family: TTNormsPro-Bold, sans-serif, PingFangTC-Semibold, Microsoft JhengHei;
  }
  
  .strength {
      font-size: 12px;
      font-family: TTNormsPro-Medium, sans-serif, PingFangSC-Medium, Microsoft JhengHei;
      font-weight: 500;
      color: #737d82;
      line-height: 1.34;
      margin-top: -12px;
      margin-bottom: 16px;
  }
  .strength-level {
      font-weight: inherit;
      line-height: 16px;
  }
  .strength-weak {
      color: #ff1923;
  }
  .strength-medium {
      color: #ffb800;
  }
  .strength-strong {
      color: #00b946;
  }
  .strength-warning {
      display: block;
      padding-top: 4px;
      color: #ff1923;
      min-height: 32px;
  }
  .reset .error {
      margin: -12px 0 16px 0;
  }
  .rule-check {
      margin-bottom: 32px;
      font-family: TTNormsPro-Medium, sans-serif, PingFangSC-Medium, Microsoft JhengHei;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
  }
  .rule-list {
      margin-top: 8px;
  }	
  
  .rule-item {
      display: flex;
  }
  
  .rule-item.valid .desp{
      color: #0074ff;
  }
  
  .rule-item.valid .icon {
      background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGc+CiAgICAgICAgICAgIDxnPgogICAgICAgICAgICAgICAgPGc+CiAgICAgICAgICAgICAgICAgICAgPGc+CiAgICAgICAgICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik0wIDBIMjRWMjRIMHoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC01NTIgLTU4OSkgdHJhbnNsYXRlKDUyMCAyNDYpIHRyYW5zbGF0ZSgzMiAzMTEpIHRyYW5zbGF0ZSgwIDMyKSIvPgogICAgICAgICAgICAgICAgICAgICAgICA8cGF0aCBzdHJva2U9IiMwMjc1RkYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJNMjAgN0w5IDE4IDQgMTMiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC01NTIgLTU4OSkgdHJhbnNsYXRlKDUyMCAyNDYpIHRyYW5zbGF0ZSgzMiAzMTEpIHRyYW5zbGF0ZSgwIDMyKSIvPgogICAgICAgICAgICAgICAgICAgIDwvZz4KICAgICAgICAgICAgICAgIDwvZz4KICAgICAgICAgICAgPC9nPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==');
  
  }
  .rule-list .desp {
      color: #b9bcbf;
      line-height: 24px;
      margin: 0 0 0 8px;
  }
  
  .rule-list .icon {
      flex: none;
      display: inline-block;
      width: 24px;
      height: 24px;
      background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGc+CiAgICAgICAgICAgIDxnPgogICAgICAgICAgICAgICAgPGc+CiAgICAgICAgICAgICAgICAgICAgPGc+CiAgICAgICAgICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik0wIDBIMjRWMjRIMHoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC01NTIgLTYxMykgdHJhbnNsYXRlKDUyMCAyNDYpIHRyYW5zbGF0ZSgzMiAzMTEpIHRyYW5zbGF0ZSgwIDU2KSIvPgogICAgICAgICAgICAgICAgICAgICAgICA8cGF0aCBzdHJva2U9IiNCOUJDQkYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJNMjAgN0w5IDE4IDQgMTMiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC01NTIgLTYxMykgdHJhbnNsYXRlKDUyMCAyNDYpIHRyYW5zbGF0ZSgzMiAzMTEpIHRyYW5zbGF0ZSgwIDU2KSIvPgogICAgICAgICAgICAgICAgICAgIDwvZz4KICAgICAgICAgICAgICAgIDwvZz4KICAgICAgICAgICAgPC9nPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==');
  }
  
  @media screen and (max-width: 414px) {
      body {
          padding: 32px;
          min-width: 100%;
          box-sizing: border-box;
      }
      .main {
          width: 100%;
      }
  }
  
  
  .hide {
      display: none !important;
  }
  
  